<html>
    <head>
       <title>Dojo Survey Index</title>
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dojo_form.css') }}">
    </head>
    <body>
      <div id="wrapper">
        <form action='/result' method='post'>
          <p id="name">Your Name:
          <input type='text' name='name'>
          </p>
          <p id="location">
          Dojo Location:
          <select name="location">
            <option value="burbank">Burbank</option>
            <option value="san jose">San Jose</option>
            <option value="seattle">Seattle</option>
          </select>
          </p>
          <p id="language">
          Favorite Language:
          <select name="language">
            <option value="python">Python</option>
            <option value="javascript">JavaScript</option>
            <option value="ruby">Ruby</option>
          </select>
          </p>
          <p id="comment">
          Comment (optional):
          <textarea id="comment-box" rows="5" cols="50" name="comment"></textarea>
          </p>
          <!-- <button type="button" name="submit">Button</button> -->
          <input id="button" type="submit" name="Submit">
        </form>
      </div>
    </body>
</html>